<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="">
    <parameter name="browser" value="chrome" />
  <classes>
      <class name="com.MyTests.TestNGParallelExecution"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="FireFoxTestcases">
    <parameter name="browser" value="Firefox" />
  <classes>
      <class name="com.MyTests.TestNGParallelExecution"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="IETestCases">
    <parameter name="browser" value="ie" />
  <classes>
      <class name="com.MyTests.TestNGParallelExecution"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
